
@{
    ViewData["Title"] = "SalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sales Report</h1>

<table class="table table-striped">
    <thead>
        <th>
            <!--Html.DisplayName(model => model.Id)-->
        </th>
    <thead class= "text-right">
        @Html.DisplayName("Revenue($)")
    </thead>


</table>

