@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the COMP2084 Beer Store Exam</h1>
    <p>This site is for educational purposes only and has no commerical use.</p>
    <p>Beer logos sourced from <a href="https://www.thebeerstore.ca/" target="_blank">https://www.thebeerstore.ca/</a></p>
</div>
